<%= form_for @post do |f| %>

<%= render 'posts/alerts' %>

    <%= form_group_tag(@post.errors[:strain_name]) do %>
        <%= f.label :strain_name %>
        <% if current_user.admin? %>
        <%= f.text_field :strain_name, class: 'form-control', placeholder: "Enter strain name", :readonly => false %>
        <% else %>
        <%= f.text_field :strain_name, class: 'form-control', placeholder: "Enter strain name", :readonly => true %>
        <% end %>
    <% end %>
    <%= form_group_tag(@post.errors[:image]) do %>
        <%= f.hidden_field :image, value: f.object.image.signed_id %>
        <%= f.file_field :image, class: 'form-control form-image-box'%>
    <% end %>
    <%= form_group_tag(@post.errors[:description]) do %>
        <%= f.label :description %>
        <%= f.text_area :description, rows: 2, class: 'form-control', placeholder: "Enter strain description" %>
    <% end %>
    <%= form_group_tag(@post.errors[:price]) do %>
        <%= f.label :price %>
        <%= f.number_field :price, class: 'form-control', placeholder: "Enter a price" %>
    <% end %>
    <%= form_group_tag(@post.errors[:category]) do %>
        <%= f.label :category %>
        <%= f.select :category, options_for_category, :prompt => "Select One", class: 'form-control', placeholder: "Enter strain category" %>
    <% end %>
    <div class="form-group">
     <%= f.submit "Save" %>
    </div>
<% end %>