<% if current_user %>
 <h1>Edit Post</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for posts</p>
     <ul>
       <li>Have a good macro picture.</li>
       <li>Don't list multiple strains in a single post.</li>
       <li>Posting false information will get you banned.</li>
     </ul>
   </div>
   <div class="col-md-8">
    <%= form_for @post do |f| %>
     <div class="form-group">
        <%= f.label :strain_name %>
        <%= f.text_field :strain_name, class: 'form-control', placeholder: "Enter strain name", :readonly => true %>
     </div>
     <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 2, class: 'form-control', placeholder: "Enter strain description" %>
     </div>
     <div class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category, class: 'form-control', placeholder: "Enter strain category" %>
     </div>
     <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control', placeholder: "Enter city" %>
     </div>
     <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: 'form-control', placeholder: "Enter contact phone number" %>
     </div>
     <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: "Enter contact email address" %>
    </div>
    <div class="form-group">
     <%= f.submit "Save" %>
    </div>
<% end %>

<% else %>
 <h3>Must sign in to view this page.</h3>

<% end %>
