<h1> Post <%= @post.id %> </h1>
</br>


        <div class="card" style="margin-bottom: 5rem; width: 18rem;">
      <img class="card-img-top" <%= image_tag "#{rand(3)}.jpg" %>
        <div class="card-body">
        <h5 class="card-title"> <%= @post.strain_name %> <small> <%= @post.category %></small> </h5>
        <p class="card-text"> <%= @post.description %></p>
        <strong class="card-text">$<%= rand(1500..1800) %> </strong>
        <h9 class="card-text" style="padding-left: 6rem;">City: <%= @post.city %> </h9>
     </div>
     <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>
     <%= link_to "Delete Post", @post, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>

